header {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    height: 10vh;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 45px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header h1 {
    margin-left: 3rem;
}

main {
    flex-grow: 1;
    margin: 1.5rem;
    padding: 1rem;
}


dialog {
    background-color: var(--primary);
    border-radius: 24px;
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);

    &>* {
        margin: 0 0 0.5rem 0;
    }
}

footer {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    text-align: center;

    a:hover {
        animation: rotate .5s forwards;
    }
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}