@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --background: #1A1A1A;
    --primary: #222222;
    --secondary: #2E4863;

    --text: #E5E5E5;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background);
    color: var(--text);
    font-family: "Montserrat";
}

button {
    background-color: var(--secondary);
    border-radius: 50%;
    border: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}