*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --background: #1A1A1A;
    --primary: #222222;
    --secondary: #2E4863;

    --text: #E5E5E5;
}

body {
    padding: 1rem;
    height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background);
    color: var(--text);
    font-family: "Montserrat";
}

button {
    background-color: var(--secondary);
    border: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}